{% extends 'base/base.html' %} 
{% block content %} 


<!-- <h4 style="color:black">{{form}}</h4>  -->
<p>Actualmente se encuentra registrado en el taller <g style="font-size:20px; color:red">{{cursoAntiguo}}</g>, si desea inscribirse en el taller <g style="color:green; font-size:20px">{{cursoNuevo}}</g> preciona el boton aceptar. Tenga en cuenta que puede estar incrito en un solo curso. </p>



<br>
<form method="POST" action="{% url 'cambiar' %}">
    {% csrf_token %}
    <input name="cursoAntiguo" type="hidden" value="{{cursoAntiguo.id}}">
    
    <input name="cursoNuevo" type="hidden" value="{{cursoNuevo.id}}">
    <input name="persona" type="hidden" value="{{formDos.id}}">
    <input class="btn btn-success" type="submit" value="Aceptar">
    <a class="btn btn-danger" href="/cursos">Regresar</a>
</form>
<br>


{% endblock %}